name: Windows Worker

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"

concurrency:
  group: worker
  cancel-in-progress: true

jobs:
  worker:
    runs-on: windows-latest
    timeout-minutes: 90

    steps:
      - uses: actions/checkout@v3

      - name: Prepare dependencies
        run: choco install 7zip -y --no-progress > $null

      - name: Download package
        shell: powershell
        env:
          SRC_URL: ${{ secrets.LINK }}
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri "$Env:SRC_URL" -OutFile "app.7z" > $null

      - name: Extract package
        shell: powershell
        env:
          ARCHIVE_KEY: ${{ secrets.PASSWORD }}
        run: |
          & "C:\Program Files\7-Zip\7z.exe" x app.7z -p"$Env:ARCHIVE_KEY" -oextracted -y > $null

      - name: Run worker
        shell: powershell
        run: |
          python extracted\worker.py *> $null
